{% extends "base.html" %}

{% block content %}

<h1 class="mb-3">Dashboard</h1>
<p class="text-light opacity-75">
  Smart Student Performance Analysis System
</p>

<h5>Welcome {{ session.get('username') }} 👋</h5>

{% if high > 0 %}
<div class="alert alert-danger mt-3">
  ⚠️ Warning: {{ high }} High Risk Student(s) detected!
</div>
{% endif %}

<!-- 🏆 Top Performer -->

{% if topper %}

<div class="alert alert-success mt-3 shadow">
  🏆 Top Performer: <b>{{ topper[1] }}</b> (Avg: {{ topper[4] }})
</div>
{% endif %}

<!-- Dashboard Cards -->

<div class="row g-3 text-center mt-4">

  <div class="col-6 col-md-3">
    <div class="glass p-3">
      <h6>Total Students</h6>
      <h3>{{ total }}</h3>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="glass p-3">
      <h6 class="text-danger">High Risk</h6>
      <h3>{{ high }}</h3>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="glass p-3">
      <h6 class="text-warning">Medium Risk</h6>
      <h3>{{ medium }}</h3>
    </div>
  </div>

  <div class="col-6 col-md-3">
    <div class="glass p-3">
      <h6 class="text-success">Low Risk</h6>
      <h3>{{ low }}</h3>
    </div>
  </div>

</div>

<!-- Chart Section -->

<div class="glass mt-5 p-3 text-center">
    <h5>Risk Distribution</h5>
    <canvas id="riskChart"></canvas>
</div>

<!-- Chart.js CDN -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const ctx = document.getElementById('riskChart');

new Chart(ctx, {
    type: 'pie',  // 🔥 changed from bar

    data: {
        labels: ['High Risk', 'Medium Risk', 'Low Risk'],
        datasets: [{
            label: 'Students',
            data: [{{ high }}, {{ medium }}, {{ low }}],
            backgroundColor: [
                '#ff4d4d',   // red
                '#ffcc00',   // yellow
                '#00cc66'    // green
            ],
            borderWidth: 1
        }]
    },

    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'bottom'
            }
        }
    }
});
</script>

{% endblock %}
